[Unit]
Description=LCDA Account manager
After=redis.service

[Service]
User={{unprivileged_user}}
Group={{unprivileged_user}}

WorkingDirectory=/srv/accountmanager
ExecStart=/usr/local/bin/lcdaaccountmanager

Restart=on-failure

[Install]
WantedBy=multi-user.target