[Unit]
Description=Lcda public API
After=redis.service

[Service]
User={{unprivileged_user}}
Group={{unprivileged_user}}

WorkingDirectory=/srv/api
ExecStart=/usr/local/bin/public-api

Restart=on-failure

[Install]
WantedBy=multi-user.target