#!/bin/bash

set -e
if [ $USER != "root" ]; then
	echo "You must run this script as root"
	exit 1
fi

REMOTE_SERVER={{backup_server}}
REMOTE_USER={{backup_user}}
REMOTE_PATH="{{backup_path}}"
KEYFILE={{backup_keyfile}}

NWNHOME={{nwn2_path_home}}
SQL_DATABASE={{mysql_database}}


scp -i $KEYFILE \
	$REMOTE_USER@$REMOTE_SERVER:$REMOTE_PATH/{servervault.tar.xz,database.tar.xz,mysqldump.sql.xz} \
	/tmp

tar xf /tmp/servervault.tar.xz -C "$NWNHOME/"
tar xf /tmp/database.tar.xz -C "$NWNHOME/"
xz -d /tmp/mysqldump.sql.xz --stdout | mysql nwnx
# mysql nwnx < script.sql



chown -R {{unprivileged_user}}:{{unprivileged_user}} "$NWNHOME/servervault"
chown -R {{unprivileged_user}}:{{unprivileged_user}} "$NWNHOME/database"