#!/bin/bash

set -e

REMOTE_SERVER={{backup_server}}
REMOTE_USER={{backup_user}}
REMOTE_PATH="{{backup_path}}"
KEYFILE={{backup_keyfile}}
TRANSFER_SPEED_LIMIT={{backup_speedlimit}}

NWNHOME={{nwn2_path_home}}
SQL_DATABASE={{mysql_database}}

echo "Compressing backups..."
echo "    servervault..."
tar cfJ /tmp/servervault.tar.xz -C $NWNHOME servervault
echo "    database..."
tar cfJ /tmp/database.tar.xz -C $NWNHOME database
echo "    sqldump..."
mysqldump $SQL_DATABASE | xz -z - > /tmp/mysqldump.sql.xz
echo "    Done"

# Keep one backup
echo "Moving old backups"
ssh -i $KEYFILE $REMOTE_USER@$REMOTE_SERVER \
	mv /home/$REMOTE_USER/servervault.tar.xz /home/$REMOTE_USER/servervault.old.tar.xz || true
ssh -i $KEYFILE $REMOTE_USER@$REMOTE_SERVER \
	mv /home/$REMOTE_USER/database.tar.xz /home/$REMOTE_USER/database.old.tar.xz || true
ssh -i $KEYFILE $REMOTE_USER@$REMOTE_SERVER \
	mv /home/$REMOTE_USER/mysqldump.sql.xz /home/$REMOTE_USER/mysqldump.old.sql.xz || true


echo "Sending backups to $REMOTE_SERVER"
scp -i $KEYFILE -l $TRANSFER_SPEED_LIMIT \
	/tmp/{servervault.tar.xz,database.tar.xz,mysqldump.sql.xz} \
	$REMOTE_USER@$REMOTE_SERVER:$REMOTE_PATH