[Unit]
Description=NWN2 server on a windows virtual machine
After=network.target

[Service]
ExecStart=/srv/%i/bin/launch -pidfile /srv/%i/nwn2server.pid
WorkingDirectory=/srv/%i

Restart=on-failure
RestartSec=10s

PIDFile=/srv/%i/nwn2server.pid
ExecStop=/bin/sh -c "echo 'system_powerdown' | nc 127.0.0.1 3390"
TimeoutStopSec=60

Nice=-1

[Install]
WantedBy=multi-user.target
