#!/bin/bash

set -euo pipefail

toBytes(){
	echo "$@" | awk \
	'BEGIN{IGNORECASE = 1}
	function printpower(n,b,p) {printf "%u\n", n*b^p; next}
	/[0-9]$/{print $1;next};
	/KB?$/{printpower($1,  2, 10)};
	/MB?$/{printpower($1,  2, 20)};
	/GB?$/{printpower($1,  2, 30)};
	/TB?$/{printpower($1,  2, 40)};'
}

# Get get huge page size
PAGE_SIZE=$(toBytes "$(grep Hugepagesize /proc/meminfo | grep -oE "[0-9\.]+\s*[kmgt]B$")")
REQUIRED_PAGES=$(( $(toBytes {{qemu_memory}}) / PAGE_SIZE ))

AVAIL_PAGES=$(( $(grep "HugePages_Free" /proc/meminfo | grep -oE "[0-9]+$") - $(grep "HugePages_Rsvd" /proc/meminfo | grep -oE "[0-9]+$") ))
if (( AVAIL_PAGES < REQUIRED_PAGES )); then
	CURR_PAGES=$(grep "HugePages_Total" /proc/meminfo | grep -oE "[0-9]+$")
	NEW_ALLOC=$(( CURR_PAGES + (REQUIRED_PAGES - AVAIL_PAGES) ))
	echo "Allocating $NEW_ALLOC huge memory pages"
	echo "$NEW_ALLOC" > /proc/sys/vm/nr_hugepages
fi

# Setup port forwarding to the VM
if ! iptables -t nat -C PREROUTING -p udp --dport {{nwn2server_public_port}} -j DNAT --to {{nwn2server_private_ip}}:5121; then
	iptables -t nat -A PREROUTING -p udp --dport {{nwn2server_public_port}} -j DNAT --to {{nwn2server_private_ip}}:5121
fi
if ! iptables -C FORWARD -d {{nwn2server_private_ip}} -p udp --dport 5121 -j ACCEPT; then
	iptables -A FORWARD -d {{nwn2server_private_ip}} -p udp --dport 5121 -j ACCEPT
fi

exec \
qemu-system-x86_64 \
	-name "NWN2Server" \
	-runas {{unprivileged_user}} \
	\
	-enable-kvm \
	-cpu host \
	-smp "{{qemu_smp}}" \
	-m "{{qemu_memory}}" \
	-mem-path /dev/hugepages \
	\
	-drive "file={{nwn2_path_root}}/nwn2server-vmdisk.{{qemu_disk_format}},format={{qemu_disk_format}},if=virtio,cache=none" \
	\
	-netdev tap,id=tap0,ifname=tap0,script=no,downscript=no \
	-device virtio-net-pci,netdev=tap0,mac=02:00:00:00:00:{{"%02x" | format(nwn2server_private_ip.split(".")[3] | int)}} \
	\
	-device piix3-usb-uhci \
	-device pvpanic \
	\
	-vga qxl \
	-spice addr=127.0.0.1,port={{qemu_spice_port}},disable-ticketing \
	-device usb-tablet \
	-device virtio-serial \
	-chardev spicevmc,id=vdagent,name=vdagent \
	-device virtserialport,chardev=vdagent,name=com.redhat.spice.0 \
	\
	-monitor "unix:{{nwn2_path_root}}/qemu-monitor.sock,server,nowait" \
	"$@"
