# The function class that is provided by this plugin
class = SQL

# MySQL server connection parameters
server   = {{mysql_host}}
user     = {{mysql_user}}
password = {{mysql_password}}
schema   = {{mysql_database}}

# How much information should be written to xp_mysql.txt:
# 0=nothing, 1=only errors, 2=everything
loglevel = {{nwnx4_mysql_loglevel}}
