{
	"paths": {
		//Path to folders containing the 2da files from the game & custom content
		// Multiple paths can be provided, and will be processed in the same order.
		"twoda": [
			"C:\\Users\\Drizzt\\Documents\\Neverwinter Nights 2\\override\\"
		],

		//Path to NWN2 dialog.tlk
		"tlk": "C:\\Program Files (x86)\\Atari\\Neverwinter Nights 2\\dialog.tlk",

		//Optional path to a custom tlk
		"tlk_custom": "C:\\Users\\Drizzt\\Documents\\Neverwinter Nights 2\\tlk\\custom.tlk",

		//Path to the server vault containing account folders and their characters
		"servervault": "C:\\Users\\Drizzt\\Documents\\Neverwinter Nights 2\\servervault\\",

		//Path where disabled characters will be kept.
		// The path is relative to the account folder in the servervault
		// If the path is absolute, subfolders will be created for each account
		"servervault_deleted": "disabled",

		//Path to the module directory
		"module": "C:\\Users\\Drizzt\\Documents\\Neverwinter Nights 2\\modules\\mymodule",

		//Path to the database directory
		"database": "C:\\Users\\Drizzt\\Documents\\Neverwinter Nights 2\\database",
	},

	//Type of the database used. Currenty only MySQL
	"database": "mysql",

	//MySQL configuration options
	"mysql": {
		"host": "localhost",
		"port": 3306,
		"user": "{{mysql_user}}",
		"password": "{{mysql_password}}",
		"database": "{{mysql_database}}",
	},

	"sql_queries":{
		//Query to check password
		// Password should be stored salted & hashed
		//
		// Must select:
		//    success (bool):
		//    admin (bool): wether or not the user can do actions on other accounts
		//
		// Placeholders:
		//  - $ACCOUNT: player account name
		//  - $PASSWORD: player unhashed password
		"login": "SELECT password='$PASSWORD' as success, is_admin as admin FROM accounts WHERE name='$ACCOUNT'",

		//Query to check auth token and retrieve associated account
		//
		// Must select:
		//    account (string):
		//    admin (bool): wether or not the user can do actions on other accounts
		//
		// Placeholders:
		//  - $TOKEN: user's token
		"check_token": "
			SELECT `api_tokens`.`account` as `account`, `account`.`is_admin` as `admin`
			FROM `api_tokens`
			INNER JOIN `account` ON `account`.`name`=`api_tokens`.`account`
			WHERE `token`='$TOKEN'",

		//Query executed when the player deletes a character
		//Keep empty for no sql execution
		//  - $ACCOUNT: player account name
		//  - $CHAR: character name
		// Multiple queries can be specified
		"on_delete": [],

		//Query executed when the player reactivates a deleted
		//Keep empty for no sql execution
		//  - $ACCOUNT: player account name
		//  - $CHAR: character name
		// Multiple queries can be specified
		"on_activate": [],

		// Placeholders:
		//  - $ACCOUNT: player account name
		//  - $NEW_PASSWORD: player new unhashed password
		// Multiple queries can be specified
		"set_password": ["UPDATE accounts SET password='$NEW_PASSWORD' WHERE name='$ACCOUNT'"],
	},


	//HTTP server options
	"server": {
		"addresses": ["::", "0.0.0.0"],
		"hostname": "",
		"port": {{publicapi_port}},

		//Where are stored server http session variables
		// Supported: memory / redis
		"session_store": "redis",

		//Redis configuration. Ignore if not using redis
		"redis": {
			"host": "localhost",
			"database": 1,
			"port": 6379,
		},
		//Path to the public directory containing frontend files
		// LEGACY: used only by old LcdaAccountManager app, unused by LcdaApi
		"public_path": "./public",

		//The server can gzip sent files to minimize network load
		"compression": true
	},

	"journal":{
		"hidden_quests": [
			"reglesserveur"
		]
	}


}
